<html>
    <head>
        <title>Upload</title>
    </head>
    <body>
        <form action="/upload" method="post" encType="multipart/form-data">
            <input type="file" placeholder="music" name="sampleFile"><br>
            <input name='artist' type="text"><br>
            <button type="submt">Submit</button>
        </form>
        <script>
        </script>
    </body>
</html>